{
	"parserOptions": {
		"ecmaVersion": 2019,
		"sourceType": "module"
	},
	"extends": ["eslint:recommended", "eslint-config-prettier"],
	"rules": {},
	"env": {
		"browser": true,
		"jest": true,
		"node": true
	}
}
