<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		  <link rel="stylesheet" href="stylesheets/main.css">
 		{{!-- <link rel="stylesheet" href="/public/css/style.css" > --}}
		 <link href='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css' rel='stylesheet' />
		<title>Caltrips</title>
		<script src="https://code.jquery.com/jquery.js"></script>
</head>
	<body>
		{{{ body }}}
	</body>
</html>
