<header class="subnav-hero-section">
  <ul class="subnav-hero-subnav">
   <li><a href="/members">Dashboard</a></li>
  <li><a href="/friends">Friends</a></li>
   <li><a href="/ideas">Ideas</a></li>
   <li><a href="login.html">Logout</a></li>
 </ul>
</header>
    <!--card's image-->
    <div class="card-user-avatar">
      <img src="images/alexa.jpg" alt="" class="user-image">
    </div>

    <!--user info name, bio and location-->
    <div class="card-user-bio">
      <h4>Alexa</h4>
      <p>UX/UI ,Front-end developer, Foundation interested. </p>
      <span class="location"><span class="location-icon fa fa-map-marker"></span><span class="location-text">Sacramento,
          CA</span></span>
    </div>

    <!--card's socail icons-->
    <div class="card-user-social">
      <ul class="menu">
        <li class="fa fa-twitter">Twitter</li>
        <li class="fa fa-instagram">Instagram</li>
        <li class="fa fa-github">Facebook</li>
      </ul>
    </div>

    <!--card's follow button-->
    <div class="card-user-button">
      <a href="#" class="button">ADD Travel Buddy!</a>
    </div>
    </div>

    <!-- User card example #2 -->
    <div class="card-user-container">
      <div class="card-user-avatar">
        <img src="images/alyssad.jpg" alt="" class="user-image">
      </div>


      <div class="card-user-bio">
        <h4>Alyssa</h4>
        <p>UX/UI ,Front-end developer, Foundation interested. </p>
        <span class="location"><span class="location-icon fa fa-map-marker"></span><span class="location-text">New York,
            NY</span></span>
      </div>

      <div class="card-user-social">
        <ul class="menu">
          <li class="fa fa-twitter">Twitter</li>
          <li class="fa fa-instagram">Instagram</li>
          <li class="fa fa-github">Facebook</li>
        </ul>
      </div>

      <!--card's follow button-->
      <div class="card-user-button">
        <a href="#" class="button">ADD Travel Buddy!</a>
      </div>
    </div>


    <!--card's image-->
    <div class="card-user-avatar">
      <img src="images/alyssavb.jpg" alt="" class="user-image">
    </div>

    <!--user info name, bio and location-->
    <div class="card-user-bio">
      <h4>Kammie</h4>
      <p>UX/UI ,Front-end developer, Foundation interested. </p>
      <span class="location"><span class="location-icon fa fa-map-marker"></span><span class="location-text">Seattle,
          WA</span></span>
    </div>

    <!--card's socail icons-->
    <div class="card-user-social">
      <ul class="menu">
        <li class="fa fa-twitter">Twitter</li>
        <li class="fa fa-instagram">Instagram</li>
        <li class="fa fa-github">Facebook</li>
      </ul>
    </div>

    <!--card's follow button-->
    <div class="card-user-button">
      <a href="#" class="button">ADD Travel Buddy!</a>
    </div>
    </div>


    <!--card's image-->
    <div class="card-user-avatar">
      <img src="images/pat.jpg" alt="" class="user-image">
    </div>

    <!--user info name, bio and location-->
    <div class="card-user-bio">
      <h4>Patrick</h4>
      <p>UX/UI ,Front-end developer, Foundation interested. </p>
      <span class="location"><span class="location-icon fa fa-map-marker"></span><span class="location-text">Denver,
          CO</span></span>
    </div>

    <!--card's socail icons-->
    <div class="card-user-social">
      <ul class="menu">
        <li class="fa fa-twitter">Twitter</li>
        <li class="fa fa-instagram">Instagram</li>
        <li class="fa fa-github">Facebook</li>
      </ul>
    </div>

    <!--card's follow button-->
    <div class="card-user-button">
      <a href="#" class="button">ADD Travel Buddy!</a>
    </div>
    </div>

      <link rel="stylesheet" href="stylesheets/friends.css">
      <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/js/foundation.min.js"
        integrity="sha256-pRF3zifJRA9jXGv++b06qwtSqX1byFQOLjqa2PTEb2o=" crossorigin="anonymous"></script>
      <script type="text/javascript" src="/js/login.js"></script>