<header class="subnav-hero-section">
  <ul class="subnav-hero-subnav">
    <li><a href="/members">Dashboard</a></li>
    <li><a href="/friends" class="is-active">Friends</a></li>
    <li><a target="_blank" href="/">Logout</a></li>
  </ul>
</header>

<h1>Plan Your trip!</h1>

<div class="product-card">
  <div class="product-card-thumbnail">
    <a href="#"><img src="https://placehold.it/180x180"/></a>
  </div>
  <h2 class="product-card-title"><a href="#">Product Name</a></h2>
  <span class="product-card-desc">Product Description</span>
  <span class="product-card-price">$9.99</span><span class="product-card-sale">$12.99</span>
  <div class="product-card-colors">
    <button href="#" class="product-card-color-option"><img src="https://placehold.it/30x30"/></button>
    <button href="#" class="product-card-color-option"><img src="https://placehold.it/30x30"/></button>
    <button href="#" class="product-card-color-option"><img src="https://placehold.it/30x30"/></button>
    <button href="#" class="product-card-color-option"><img src="https://placehold.it/30x30"/></button>
  </div>
</div>

<link rel="stylesheet" href="css/ideas.css">
<script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/js/foundation.min.js"
	integrity="sha256-pRF3zifJRA9jXGv++b06qwtSqX1byFQOLjqa2PTEb2o=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/js/login.js"></script>
<script type="text/javascript" src="/public/js/login.js"></script>