@import "../node_modules/codyhouse-framework/main/assets/css/base";

.sr-only {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	width: 1px;
	height: 1px;
	overflow: hidden;
	padding: 0;
	border: 0;
	white-space: nowrap;
}

body {
	padding: var(--space-md);
}

.grid > * {
	text-align: center;
	padding: var(--space-md);
}

header,
footer {
	background-color: hsla(
		var(--color-primary-h),
		var(--color-primary-s),
		var(--color-primary-l),
		0.8
	);
}

aside {
	background-color: hsla(
		var(--color-primary-h),
		var(--color-primary-s),
		var(--color-primary-l),
		0.2
	);
}

main {
	background-color: hsla(
		var(--color-primary-h),
		var(--color-primary-s),
		var(--color-primary-l),
		0.5
	);
}
