<h1>Welcome {{firstName}}!</h1>
<div class="row">
    <div class="col s12">
 <table>
        <thead>
          <tr>
              <th>Title</th>
              <th>Category</th>
              <th>Created</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Test</td>
            <td>test</td>
            <td>test</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
     